@import '../../variables';

.sidebar-list{
	div{
		.MuiSvgIcon-root{
			fill: #777777 !important;
			transition: all 0.25s ease-in-out;
		}

		&:hover{
			.MuiSvgIcon-root{
				fill: $iconColor !important;
			}
		}
	}
}

