@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* hide scrollbar */
::-webkit-scrollbar {
	display: none;
}

.table-form{
	div, button{
		margin-top : 5px;
	}
}

*{
	font-family: 'Mulish', sans-serif;
}

body{
	font-family: 'Mulish', sans-serif;
}

